[Unit]
Description=P2P common_online_peers worker #%i
PartOf=common_online_peers.candy.target

[Service]
Type=forking
PrivateTmp=true
PIDFile=$CAPPDIR/var/run/"$NAME"_"$i".pid
ExecStart=ruby "$APPDIR/$WORKER" "$i" >> "$APPDIR"/var/log/"$NAME"_"$i".service.log 2>&1 &

[Install]
WantedBy=multi-user.target common_online_peers.candy.target


